<ion-view view-title="Destinos">
  <ion-content>
    <!--<h4>Destinos</h4>-->
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="destination in destinations" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="img/map.png">
        <h2>{{destination.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
