/* Empty. Add your own CSS if you like */
.img-map-bg{
    background-image: url(../img/map-full.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 30%;
    display: block;
}

.circle {
    width: 10px;
    height: 10px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #4679BD;
}